/* RadioButton.css */
.radio-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.radio-input {
  opacity: 0;
  position: absolute;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
}

.radio-outer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #929393;
  position: relative;
  flex-shrink: 0;
}

.radio-inner {
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  background: white;
}

.radio-selected {
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background-color: #357eeb;
  display: none;
}

.radio-input:checked + .radio-label .radio-selected {
  display: block;
}

.radio-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}